@charset "UTF-8";

body {
	background-color: black;
	color: white;
}

.board-list {
	display: grid;
	grid-template-columns: auto 1fr 150px 50px auto;
}

.board-title {
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.board-title > a {
	text-decoration: none;
}

.board-title > a:link {
	color: slateblue;
}

.board-title > a:visited {
	color: red;
}

.board-list > div {
	border-bottom: solid orange 1px;
	padding-bottom: 5px;
}
