<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.board.mapper.BoardMapper">

  <select id="getAll" resultType="com.ezen.board.dto.BoardDTO">
    select * from myboard order by board_id desc
  </select>
  
  <select id="getAllWithReplyCount" resultType="com.ezen.board.dto.BoardDTO">
  	SELECT
    	myboard.*,
    	(SELECT COUNT(*) FROM myreply WHERE myreply.board_id = myboard.board_id) AS reply_count
	FROM
	    myboard
	ORDER BY
	    board_id DESC
	    <!-- 
	    	다른방법 1
	    	select * from
		    myboard m 
		        left outer join(select board_id, count(*) as reply_count from myreply group by board_id) r
		    on m.board_id = r.board_id;
	     -->
	     <!-- 
	     	다른방법 2
	     	select * from myboard left outer join
			  	(select board_id, count(*) as reply_count from myreply group by board_id)
			using (board_id);
	      -->
  </select>
  
  <select id="get" resultType="com.ezen.board.dto.BoardDTO">
    select * from myboard where board_id=#{board_id}
  </select>
  
  <select id="currId" resultType="Integer">
  	select myboard_id_seq.currval from dual
  </select>
  
  <!-- keyProperty : 전달한 DTO에 방금 insert 또는 update했을때의 키값을 넣어주는 mybatis 옵션 -->
  <insert id="insert" parameterType="com.ezen.board.dto.BoardDTO">
  	<selectKey resultType="Integer" keyProperty="board_id" order="BEFORE">
  		select myboard_id_seq.nextval from dual
  	</selectKey>
  	insert into
  		myboard(
  			board_id, 
  			board_title, 
  			board_content, 
  			board_password, 
  			board_writer)
  		values(
  			#{board_id},
  			#{board_title},
  			#{board_content},
  			#{board_password},
  			#{board_writer})
  </insert>
  
</mapper>